
# Python
__pycache__/
*.py[cod]
.venv/
venv/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Raw and processed data
data/raw/*.parquet
data/processed/

# Spark
spark-warehouse/
metastore_db/
derby.log

# Logs
*.log


# Local Conda environment backup
datasuite_old.yml


# Environment variables / secrets
.env
.env.*
!.env.example

# Streamlit local secrets
.streamlit/secrets.toml

# Local database / backups
*.db
*.sqlite
*.sqlite3
*.backup
*.dump

# Local OS / editor extras
.vscode/
Thumbs.db

# Temporary files
*.tmp
*.temp

# Virtual environments
.render-test/
.streamlit-test/

# Airflow runtime files
airflow/logs/
airflow/config/simple_auth_manager_passwords.json