
# Python
__pycache__/
*.py[cod]
.venv/
venv/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Raw and processed data
data/raw/*.parquet
data/processed/

# Spark
spark-warehouse/
metastore_db/
derby.log

# Logs
*.log